<div class="list-table">
  <mat-table *ngIf="dataSource && dataSource!=null" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="BookId">
      <mat-header-cell *matHeaderCellDef> <h5>BookId</h5></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          {{element.BookId}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef> <h5>Title</h5></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="container-fluid">
          <div class="row row-spacing">
            {{element.Title.Book}}
          </div>
          <div class="row row-spacing">
            Published on: {{element.Title.Published | date:'yyyy-MM-dd'}}
          </div>
          <div class="row row-spacing">
            Page Count: {{element.Title.PageCount}}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Authors">
      <mat-header-cell *matHeaderCellDef> <h5>Authors</h5></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="container-fluid">
          <div class="row row-spacing" *ngFor="let author of element.Authors">
            {{author.name}} {{author.surname}}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> <h5>Action</h5></mat-header-cell>
      <mat-cell *matCellDef="let element"><a routerLink="/home/{{element.BookId}}">Show Details</a></mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = $event"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
