<div class="card-align" *ngIf="authors">
  <mat-card class="book-detail-card">
    <mat-card-header>
      <h1>{{title}}</h1>
    </mat-card-header>
    <mat-card-content class="book-detail-content">
      <div class="container-fluid">
        <div class="row row-spacing">
          <span class="section-title">Authors :</span>
        </div>
        <div class="row row-spacing">
          <span class="section-content">{{authors}}</span>
        </div>
        <div class="row row-spacing">
          <span class="section-title">Page count:</span> <span class="section-content">{{pageCount}}</span>
        </div>
        <div class="row row-spacing">
          <span class="section-title">Published on:</span> <span
          class="section-content">{{published | date:'yyyy-MM-dd'}}</span>
        </div>
        <div class="row row-spacing">
          <h4>Description:</h4>
        </div>
        <div class="row row-spacing">
          {{description}}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="back()">Back</button>
    </mat-card-actions>
  </mat-card>
</div>



