.book-detail-card {
  width: 40%;
  height: 60%;
  margin: 0 auto;
}

.book-detail-content {
  overflow: auto;
  margin-left: 1.5vw;
}

.card-align {
  margin-top: 5vh;
}

.section-title {
  font-weight: bold;
  font-size: 1.2em;
}

.section-content {
  margin-top: 0.22em;
  margin-left: 0.45em;
}
