/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row-spacing {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0.2em;
}
